.App-header li {
  list-style: none;
  display: inline-flex;
  padding: 0 15px;
}

ul {
  padding: 0;
}

.Posts {
  padding: 10px;
}

.Post {
  border: solid 1px black;
  margin: 10px;
  padding: 8px;
}

.Home {
  padding: 10px;
}
